* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
}

.map {
  height: 90%;
  width: 70%;
  border: 1px solid black;
}

.side-bar {
    height: 90%;
    width: 15%;
    border: 1px solid blue;
    justify-self:self-end;
  }